:5555 {
    redir /docs /docs/
    handle_path /docs/* {
        redir /comparing-paas-providers-heroku-vs-digitalocean-vs-code-capsules/ /docs/comparisons/comparing-paas-providers-heroku-vs-digitalocean-vs-code-capsules permanent
        redir /saas-vs-paas-vs-iaas-comparing-three-paradigms/ /docs/comparisons/saas-paas-iaas permanent
        redir /hosting-a-front-end-building-and-deploying-your-portfolio-to-code-capsules/ /docs/tutorials/host-a-frontend permanent
        redir /customising-your-domain-on-code-capsules/ /docs/tutorials/customising-domain permanent
        redir /how-to-connect-a-mongodb-using-mongodb-atlas-with-your-code-capsules-application/ /docs/tutorials/connect-mongodb-atlas-to-code-capsules permanent
        redir /creating-and-hosting-a-personal-api-with-flask-and-code-capsules/ /docs/tutorials/creating-and-hosting-a-flask-api permanent
        redir /adding-functionality-to-your-web-application-setting-up-stripe-checkout-and-email-subscription-with-flask-and-code-capsules/ /docs/tutorials/stripe-checkout-and-email-with-flask permanent
        redir /create-and-host-a-telegram-bot-on-code-capsules/  /docs/tutorials/create-and-host-telegram-bot permanent
        redir /developing-a-persistent-sleep-tracker-part-1-handling-users-with-flask-login/ /docs/tutorials/develop-persistent-sleep-tracker-part-1 permanent
        redir /developing-a-persistent-sleep-tracker-part-2-tracking-and-graphing-sleep-data/ /docs/tutorials/develop-persistent-sleep-tracker-part-2 permanent
        redir /build-a-slack-bot-with-nodejs-to-monitor-your-applications/ /docs/tutorials/build-slackbot-with-node permanent
        redir /custom-domains/ /docs/reference/custom_domains permanent
        redir /how-to-deploy-a-react-application-to-production-on-code-capsules/ /docs/deployment/how-to-deploy-react-application-to-production permanent
        redir /how-to-deploy-an-angular-application-to-production-on-code-capsules/ /docs/deployment/how-to-deploy-angular-application-to-production permanent
        redir /how-to-deploy-an-express-js-application-to-production-on-code-capsules/ /docs/deployment/how-to-deploy-express-application-to-production permanent
        redir /how-to-deploy-an-html-site-to-production-on-code-capsules/ /docs/deployment/how-to-deploy-static-html-to-production permanent
        redir /how-to-deploy-a-java-application-to-production-on-code-capsules/ /docs/deployment/how-to-deploy-java-application-to-production permanent
        redir /how-to-deploy-a-flask-application-to-production-on-code-capsules/ /docs/deployment/how-to-deploy-flask-application-to-production permanent
        redir /how-to-deploy-a-vue-application-to-production-on-code-capsules/ /docs/deployment/how-to-deploy-vue-application-to-production permanent
        redir /faq/teams-spaces-and-capsules/ /docs/FAQ/teams-spaces-capsules permanent
        redir /codecapsules-hack-days/ /docs/community/codecapsules-hack-days permanent
        redir /introducing-code-capsules/ /docs/community/introducing-code-capsules permanent
        redir /founder-fridays/ /docs/community/founder-fridays permanent
        redir /topic/community/ /docs/community/introducing-code-capsules permanent
        redir /topic/tutorials/ /docs/tutorials permanent
        redir /faq/ /docs/FAQ/teams-spaces-capsules permanent

        encode zstd gzip
        root * /var/www
        file_server
    }
}